<%- include('./partials/header'); %>

Stats for <a href="<%= shortURL %>"><%= shortURL %></a><br/>
<br/>
Target URL: <a href="<%= targetURL %>"><%= targetURL %></a><br/>
Date created: <%= dateCreated %><br/>
<br/>
Total hits: <%= hits %><br/>
Last hit: <%= dateLastHit %><br/>
<br/>

<%- include('./partials/qrCode'); %>

<a href="/">Home</a>

<%- include('./partials/footer'); %>

